.team{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $team-bg-color;
}
.title-team{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: (33/28);
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}
.team-list{
    @include list;
    width: 100%;
}
.team__element{
    background-color: $team-bg-card;
    padding-bottom: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child){
        margin-bottom: 30px;
    }
}
.img{
    max-width: 480px;
    width: 100%;
    margin-bottom: 30px;
}
.team-info__title{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: (19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}
.team-info__dis{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: (19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
.team-icon-list{
    @include list;
    margin-top: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    width: 206px;
}
.team-icon__social-icon{
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}
.team-icon__element{
    @include link;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $team-i-color;
    transition: color  250ms $best-cubic;
    &:hover{
        background-color: $accent-color;
        color: $team-bg-card;
    }
}

@include tablet{
    .team-list{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 30px;
    }
    .team-list .team__element{
        margin: 0;
    }
    .team-info{
        margin-top: 30px;
    }
}
@include desktop{
    .team{
        padding: 94px 0;
    }
    .team-list{
        grid-template-columns: repeat(4, 1fr);
    }
    .title-team{
        font-size: 2.25rem;
        line-height: (42/36);
    }
    .title-team{
        margin-bottom: 50px;
        font-size: 2.25rem;
        line-height: (42/36);
    }
}